* {
    box-sizing: border-box;
}

h1, h2, h3 {
    font-family: Barlow Semi Condensed;
    /* color:white; */
    text-transform: uppercase;
    margin: auto;
    letter-spacing: 0.5px;
}

h1 {
    margin: 0px;
    color: white;
}

header h3 {
    color: white;
}

h2 {
    color:rgb(191 146 91);
    
}

header h2 {
    color:rgb(191 146 91);
    margin-block-end: 5px;
}

.about-container h2 {
    font-size: 1em;
    margin-bottom: 5px;
    padding-left: 10px;
}

.box-wrapper h2 {
    color: white;
}

h3 {
    font-size: 2.5rem;
}

.about-container h3 {
    font-size: 1.7rem;
    margin-bottom: 10px;
    padding-left: 10px;
}


header {
    /* max-width: 1200px; */
    /* margin: 40px auto; */
    /* border-bottom: 1px solid whitesmoke; */
    /* margin: 0px; */
    height: 800px;
    background: linear-gradient(rgba(0,0,0,0.627),rgba(0,0,0,0.8)), url(./img/background.jpg) no-repeat center;
    background-size: cover;
    position: relative;
}

p{
    color: white;
    font-family: poppins;
    line-height: 1.8;
    /* padding-right: 20px; */
}

.pointer {
    cursor: pointer;
}

header p {

    padding-right: 0px;
}

.box-wrapper p {
    color: white;
}

.about-container p {
    color: gray;
    padding-left: 10px;
}

a {
    color: white;
    text-decoration: none; 
}

ul {
    display: none;
}  

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: rgba(2, 2, 2, 0.5);
    padding: 0px 0px 0px 0px;
    position: sticky;
    top: 2px;
    padding: 5px;
}

/* header h2 {
    color:rgb(191 146 91);
    margin-block-end: 5px;
} */

h3 span {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

nav div {
    display: flex;
    flex-direction: column;
    justify-content: right;
}

nav button {
    text-align: right;
    background: none;
    border: 0;
    color: white;
    font-family: poppins;
    text-transform: uppercase;
}

.about-btn {
    background: rgb(191 146 91);
}

.about-btn {
    background: rgb(191 146 91);
    color: white;
    border: none;
    height: 80px;
    margin-bottom: 30px;
    margin-left: 10px;
}

.header-content{
    position: absolute;
    left: 10px;
    top: 200px;
    /* top: 40%;
    height: auto;
    left: 10px;
    right: 50px; */
    padding-right: 50px;
    
}

.header-content button {
    background: none;
    border: 2px solid rgb(191 146 91);
    color: rgb(191 146 91);
    text-transform: uppercase;
    padding: 12px;
}
    
/* img{
    width: 100px; 
    height: 100px;
} */

ul, li{
    padding: 0;
    list-style-type: none;
}

body{
    /* background-color:rgb(160, 220, 219); */
    margin: 0px;
    
}

/* .background-image  */
    /* background-image: url(/Applications/MAMP/htdocs/uppgifter/uppgift1_barber/Barber/src/img/background.jpg); */
    /* background: url(./img/background.jpg) no-repeat center;
    background-size: cover; */

    /* background-size: 100% 100%;
    background-repeat: no-repeat; */
    




/* mobile main grid */

.grid-container {
    display: grid;
    grid-template-rows: 1fr;
    /* gap: 60px; */
    /* max-width: 1200px; */
    text-align: center;
    /* margin: 20px auto; */
 
}

/* för att få bilderna i mitten */
/* article {
    display: grid;
    justify-items: center;
    
    
} */

.grid-container article {
    padding-bottom: 70px
}

 .grid-container h2 {
    font-size: 1.2em; 
    
}



.article-1, .article-3 {
    background: rgb(199 155 102);
}

.article-2, .article-4 {
    background: rgb(182 133 73);
}

/* article.featured {
    grid-row: span 1;
    display: grid;
    grid-template-rows: 1fr;
    gap: 60px;
    align-items: center;
    justify-items:center;
    border-bottom: 1px solid whitesmoke; 
    padding-bottom: 40px;
} */



/* desktop */

 /* .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 60px;
    max-width: 1200px;
    margin: 20px auto;  
 }

 article.featured {
    grid-column: span 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
    border-bottom: 1px solid whitesmoke; 
    padding-bottom: 40px;
 } */

 article img/*, article.featured img*/{
     /* width: 30%;
     border: 4px solid whitesmoke;
     border-radius: 100%; */
    border-radius: 50%;
    width: 150px;
    height: 150px;
    max-width: 100%;
    margin-top: -70px;
    position: relative;
     
 }  

 .about-container img {
    /* height: auto; */
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 40px
 }

 article p, article h2, article h3 {
    margin: 20px 10px;
 }

 /* @media screen and (max-width: 600px) {

    article {
        grid-column: span 4;
        display: grid;
        grid-template-columns: 1f 1fr;
        gap: 60px;
        align-items: center;
    }
 } */
 

 /* imorgon: testa nu att lägga bakgrundsbilden istället för färg och se vad som händer */

.box-wrapper {
    width: fit-content;
    background: rgb(191 146 91);
    display: flex;
    align-items: center;
}

.round-black {
    /* border: 1px solid black; */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: black;
    margin-left: 22px;
    
}

i {
    margin: 16px;
    color: white;
    margin-left: 17px;
}

@media screen and (min-width: 700px) {
    /* header desktop */
    .header-content {
    left: 50%;
    width: 50%;

     }

     .header-right {

    padding-left: 60px;
    padding-right: 30px;
    border-left: 1px solid rgb(191 146 91);
     }

    /* header p {
        padding-bottom: 10px;
    } */


    /* services desktop */
    .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* max-width: 1200px */
    }
    


}